Repository mcr5fh/Nova: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-vet, go-mod-tidy, go-test

.pre-commit-config.yaml:

# Pre-commit hooks for Nova
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: 'baml_src/.*\.baml$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Go formatting
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
        args: [-w]
      - id: go-imports

  # golangci-lint
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'GODEBUG=gotypesalias=1 golangci-lint run --timeout=5m --config=.golangci.yml'
        language: system
        pass_filenames: false
        types: [go]

  # Go tests and checks
  - repo: local
    hooks:
      - id: go-vet
        name: go vet
        entry: go vet ./...
        language: system
        pass_filenames: false
        types: [go]

      - id: go-mod-tidy
        name: go mod tidy
        entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
        language: system
        pass_filenames: false
        files: 'go\.(mod|sum)$'

      - id: go-test
        name: go test
        entry: go test -race -short ./...
        language: system
        pass_filenames: false
        types: [go]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint
        args: ['--fix']
        exclude: '^(baml_client/|claude-trace-dashboard/)'

chore: update beads issue tracking
  .beads/issues.jsonl
Due: none

chore: close Nova-udy.7 (commit task complete)
  .beads/issues.jsonl
Due: none

chore: update BAML generator config for correct module structure
  baml_client/baml_source_map.go
  baml_src/generators.baml
Due: golangci-lint, go-vet, go-test

feat: add monitoring and dashboard scripts for orchestrator
  scripts/dashboard.sh
  scripts/monitor.sh
Due: none

Move trace output to ~/.nova with repo/branch structure
  cmd/nova-go/process_transcript.go
  cmd/nova-go/track_session.go
  cmd/nova-go/track_session_test.go
  internal/paths/trace_path.go
  internal/paths/trace_path_test.go
Due: golangci-lint, go-vet, go-test

fix: handle dependency mapping in orchestrator splitAndRecurse
  internal/engine/engine.go
  internal/engine/engine_test.go
Due: golangci-lint, go-vet, go-test

Planning accomplished
  CASCADE_PROMPT_UPDATER.md
  planning_auto_update.md
Due: none

fix: add nil pointer checks in executeAndValidate and enable nilaway
  .golangci.yml
  Makefile
  internal/engine/engine.go
  internal/engine/engine_test.go
Due: golangci-lint, go-vet, go-test

fix: update BAML clients to use max_completion_tokens for OpenAI reasoning models
  baml_client/baml_source_map.go
  baml_src/clients.baml
Due: golangci-lint, go-vet, go-test

This is all working just fine and builds the local database, performs analysis, and has the ability to run the update once we have that in
  .gitignore
  CASCADE.md
  CLAUDE_TRANSCRIPT_ANALYSIS_INSTRUCTIONS.md
  analyze_session.py
  batch_import.py
  db.py
  demo_test/demo_message_import.py
  demo_test/example_u2_usage.py
  demo_test/test_query_analyses.py
  demo_test/test_workflow.py
  docs/ANALYSIS_WORKFLOW.md
  docs/BATCH_IMPORT_README.md
  docs/CASCADE_PROMPT_UPDATER.md
  docs/MESSAGE_IMPORT_README.md
  docs/MESSAGE_IMPORT_SUMMARY.md
  docs/QUICK_START_MESSAGE_IMPORT.md
  docs/SESSION_IMPORT_README.md
  docs/TASK_U2_SUMMARY.md
  docs/UPDATE_PROMPT_README.md
  ingest.py
  program_nova/ANTHROPIC_WRAPPER.md
  program_nova/anthropic_wrapper.py
  program_nova/example_anthropic_usage.py
  program_nova/example_message_import.py
  program_nova/example_session_import.py
  program_nova/jsonl_parser.py
  program_nova/message_importer.py
  program_nova/session_importer.py
  program_nova/test_anthropic_wrapper.py
  program_nova/test_message_importer.py
  program_nova/test_session_importer.py
  prompts.py
  query_analyses.py
  scripts/run_s1_unanalyzed.py
  update_prompt.py
Due: none

refactor: add explicit ID field to SubtaskDefinition for dependency mapping
  baml_client/baml_source_map.go
  baml_client/stream_types/classes.go
  baml_client/type_builder/classes.go
  baml_client/types/classes.go
  baml_src/types.baml
  internal/engine/engine.go
  internal/engine/engine_test.go
  internal/engine/types.go
Due: golangci-lint, go-vet, go-test

fix: map ID field in BAML adapter SubtaskDefinition conversion
  internal/llm/baml_adapter.go
  internal/llm/baml_adapter_test.go
Due: golangci-lint, go-vet, go-test

Delete test bead mode integration beads
  .beads/issues.jsonl
Due: none

refactor: replace BAMLExecutor with ClaudeExecutor via claude CLI
  baml_client/baml_source_map.go
  baml_src/functions.baml
  internal/llm/baml_adapter.go
  internal/llm/baml_adapter_test.go
Due: golangci-lint, go-vet, go-test

Clean up QA test beads (linear workflow, diamond dependency, integration tests)
  .beads/issues.jsonl
Due: none

Create epic: Use bead comments for token usage storage
  .beads/issues.jsonl
Due: none

refactor: replace track-session hook with log-session-events
  .beads/issues.jsonl
  .claude/hooks/log-session-events.sh
  .claude/hooks/track-session.sh
  .claude/settings.json
  .gitignore
  .pre-commit-config.yaml
  .thevillage/worker_assignments.json
  baml_src/clients.baml
  cmd/nova-go/main.go
  cmd/nova-go/process_transcript.go
  cmd/nova-go/track_session.go
  cmd/nova-go/track_session_test.go
  go.mod
  go.sum
  internal/storage/writer.go
  internal/storage/writer_test.go
  thoughts/shared/specs/session-based-traces/plan.md
  thoughts/shared/specs/session-based-traces/session-metadata-enhancement-plan.md
Due: golangci-lint, go-vet, go-mod-tidy, go-test

Delete .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: none

Add JSON metrics comments to completed beads
  docs/METRICS_SCHEMA.md
  program_nova/engine/bead_orchestrator.py
  program_nova/engine/test_bead_orchestrator.py
Due: none

Verify tests use 'bd comments' format for metrics
  .debug/session-events/session-end-20260131-223011.json
  .debug/session-events/session-end-20260131-223342.json
  .debug/session-events/session-end-20260131-223343.json
  .debug/session-events/session-end-20260131-223653.json
  .debug/session-events/session-end-20260131-223710.json
  .debug/session-events/session-end-20260131-224149.json
  .debug/session-events/session-end-20260131-224339.json
  .debug/session-events/session-end-20260131-224347.json
  .debug/session-events/session-end-20260131-224353.json
  docs/plan-bead-mode.md
  program_nova/dashboard/beads_adapter.py
  program_nova/dashboard/server.py
  program_nova/dashboard/static/app.js
  program_nova/dashboard/static/index.html
  program_nova/dashboard/test_beads_adapter.py
  program_nova/dashboard/test_server.py
  program_nova/dashboard/test_start_epic.py
  program_nova/engine/README_BEAD_ORCHESTRATOR.md
  program_nova/engine/__init__.py
  program_nova/engine/test_start_blocking.py
  program_nova/test_bead_mode_integration.py
Due: none

Refactor to use comment-based metrics storage for completed beads
  program_nova/dashboard/server.py
  program_nova/engine/test_bead_orchestrator.py
Due: none

chore: sync beads changes
  .beads/issues.jsonl
Due: none

chore: ignore nova-go binary and beads issues.jsonl
  .beads/issues.jsonl
  .gitignore
Due: none

Delete .claude/agents/code-systems-architect.md
  .claude/agents/code-systems-architect.md
Due: none

clean up
  .claude/traces/traces-2026-01-31.jsonl
  .thevillage/supervisor.json
  .thevillage/worker_assignments.json
Due: none

Add edge case review step after diagram creation in solution-architect
  .beads/issues.jsonl
  .claude/commands/solution-architect/plan.md
Due: none

Add edge cases and text input path to web-voice-planner spec
  specs/solutions/web-voice-planner.md
Due: none

add beads support
  .gitignore
  program_nova/dashboard/server.py
  program_nova/dashboard/test_server.py
  program_nova/engine/bead_orchestrator.py
  program_nova/engine/test_bead_orchestrator.py
  program_nova/engine/test_start_blocking.py
  program_nova/test_bead_mode_integration.py
Due: none

Add SessionEnd hook for Nova auto-update workflow
  .claude/hooks/session-end-ingest.py
  .claude/settings.json
  .gitignore
  auto_update_workflow.py
  docs/auto_update_workflow.md
  program_nova/prompt_detector.py
  program_nova/test_auto_update_workflow.py
  program_nova/test_prompt_detector.py
  test_session_end_hook.py
  test_session_end_hook_integration.py
Due: none

create-plan command
  .beads/issues.jsonl
  .claude/commands/create-plan.md
  specs/solutions/ai-orchaestration-command-center.md
Due: none

We have a claude code tool or skill that low key works quite well
  .beads/issues.jsonl
  .claude/commands/solution-architect/automatic_updater.md
Due: none

Improve solution-architect interview based on session analysis
  .claude/commands/solution-architect/help.md
  .claude/commands/solution-architect/plan.md
Due: none

Full loop command and we have analyze session better so it doesnt review each time
  .claude/commands/full_loop.md
  analyze_session.py
Due: none
